<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="WebTest">
  <parameter name="executionMode" value="Web"/>
    <classes>
      <class name="stepDefinitions.WebTest"/>
    </classes>
  </test>
  
  <test name="ApiTest">
  <parameter name="executionMode" value="API"/>
    <classes>
      <class name="stepDefinitions.APITest"/>
    </classes>
  </test> 
</suite> 
